/* Reseteo navegadores */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* Navegación */
.navegacion {
  width: 100%;
  background-color: black;
  position: fixed;
  padding: 15px;
  /* width: 100%;  */
}

ol {
  width: 620px;
  text-align: center;
  background: linear-gradient(to top, grey, white);
  margin: auto;
  border-radius: 10px;
}

li {
  padding: 5px 20px;
  display: inline-block;
}

li a {
  color: black;
  text-decoration: none;
}

li:hover {
  background: radial-gradient(white, transparent);
}

/* Cabecera */
.cabecero {
  /* height: 600px; */
  text-align: center;
  padding: 80px 0px 25px;
}
.cabecero figure img {
  width: 800px;
  box-shadow: black 10px 10px 20px;
}

/* Sinopsis*/
h2 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
}

#s,
#c,
#r,
#d,
#f {
  padding: 30px 0px;
  width: 800px;
  margin: auto;
}

#s  h2,#d  h2,#r  h2,#c  h2,#f h2 {
  margin-right: 25px;
  float: left;
}

#s p,#c p, #r p {
  margin-bottom: 20px;
}

#s div, #c div, #r div ,#f div,#d div{
  width: 600px;
  /* display in line block */
  padding-left: 200px;
  text-align: justify;
}
.paralax {
  width: 100%;
  height: 500px;
  background-image: url(../imagenes/aliceparallax.jpg);
  background-image: -moz-repeating-radial-gradient(10px);
  background-attachment: fixed;
  background-size: cover;
}

.paralax2 {
  height: 500px;
  background-image: url(../imagenes/parallax2.jpg);
  padding: 60px 0;
  width: 100%;
  /* margin: auto; */
}

#d figure figcaption{
    padding-top: 35px;
}
#d figure figcaption p {
  margin: 10px 5px;
  text-align: justify;
}

#d figure img {
  float: left;
  clear: both;
}

#f img {
  width: 23%;
  margin-left: 8x;
  border: 3px chocolate double;
}

.pie {
  width: 100%;
  background-color: rgb(245, 171, 33);
  color: white;
  padding: 20px 0px;
  text-align: center;
}

.i1:hover {
  filter: blur(4px);
}
.i2:hover {
  filter: brightness(50%);
}
.i3:hover {
  filter: contrast(50%);
}
.i4:hover {
  filter: brightness(50%);
}
.i5:hover {
  filter: hue-rotate(80deg);
}
.i6:hover {
  filter: invert(150%);
}
.i7:hover {
  filter: saturate(10) blur(5px);
  -webkit-filter: saturate(10) blur(8px);
}
.i8:hover {
  filter: sepia(50%);
}
